<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= NBlog.config['title'] %></title>
    <description><%= NBlog.config['description'] %></description>
    <link><%= "#{request.env['rack.url_scheme']}://#{request.env['HTTP_HOST']}" %></link>
    <atom:link href="<%= request.url %>" rel="self" type="application/rss+xml" />
    <pubDate><%= Time.now.rfc822 %></pubDate>
    <lastBuildDate><%= Time.now.rfc822 %></lastBuildDate>
    <generator><%= NBLOG_VERSION %></generator>
<% for post in posts %>
    <item>
      <title><%= strip_tags post[:content].split("\n")[0] %></title>
        <description><![CDATA[<%= post[:content] %>]]></description>
      <pubDate><%= post[:date].rfc822 %></pubDate>
      <link><%= "#{request.env['rack.url_scheme']}://#{request.env['HTTP_HOST']}#{post[:url]}" %></link>
      <guid isPermalink="true"><%= "#{request.env['rack.url_scheme']}://#{request.env['HTTP_HOST']}#{post[:url]}" %></guid>
    </item>
<% end %>
  </channel>
</rss>
